/* -- Generales -- */
#editar_ad #container{padding-top:50px;}
#editar_ad span.ui-icon{float:left;margin-right:3px;}

/* -- barra de edicion -- */
#editar_ad #admin_menu{
	background:#EFF1F0 url(../imagenes/styles/style1/admin/gradiente1.jpg) repeat-x center bottom;
	font-size: 11px;
	position:fixed;
	width:100%;
	z-index:900;
	border-bottom: 1px solid #CDCDCD;
}
#editar_ad #admin_menu .container_ad{
	width:900px;
	margin:0 auto;
	padding:10px 10px;
	overflow:hidden;
}
/* logout */
#editar_ad #admin_menu .logout{
	float:right;
}
/* contenido */
#editar_ad .ui-selectmenu-menu{z-index:901;}
#editar_ad .ui-selectmenu-menu li a{font-size: 11px}
#editar_ad #admin_menu .contenido_fm *{float:left;}
#editar_ad #admin_menu #contenidos_sl-button{width:300px;font-size: 11px;}
#editar_ad #admin_menu #contenidos_sl-button span{font-size: 11px}

#editar_ad #admin_menu button{margin-left:5px;font-size: 11px;padding:3px 15px;}
#editar_ad #admin_menu button span{padding:0;}

/* editar */
#editar_ad .editar_ad_dv{
	background: #FFC;
	padding:3px;
	border: 1px dashed #F90;
	position:relative;
	cursor:pointer;
}
#editar_ad .editar_ad_dv:hover{
	background: #FFD379;
}
#editar_ad .edit_bot_sp_ad{
	position:absolute;
	top:0px;
	right:0px;
	height: 17px;
	width: 17px;
	padding:3px;
	background: #FFF;
	border-left: 1px dashed #77ECAC;
	border-bottom: 1px dashed #77ECAC;
}
#editar_ad .edit_bot_sp_ad a{
	background: url(../admin/imagenes/iconos/page_edit.png) no-repeat;
	height: 17px;
	width: 17px;
	display:block;
}
#editar_ad .edit_bot_sp_ad a span{display:none;}
#editar_ad .container_editor_ad{}
#editar_ad .form_edit_ad{padding:5px;text-align:center;}

#cuerpo .container_editor_ad button{margin-left:5px;font-size: 11px;padding:3px 15px;}
#cuerpo .container_editor_ad button span{padding:0;}
