.editjTinyAjax p{margin:0 0 10px;}
.editjTinyAjax {
    border: 2px dashed #FF9900;
    cursor: pointer;
    padding: 3px;
    position: relative;
}
.editjTinyAjax:hover{
	background: #FFFFCC;
}
.form_edit_ad{text-align:center;}
.botons_ui{font-size:12px;margin:0 5px;}
.botons_ui span.ui-icon{float:left;margin-right:3px;}
.botons_ui span.ui-button-text{padding:3px 5px}
.form_edit_ad{padding:5px;}

h1{margin:10px 0}
h2{margin:10px 0;}
pre{padding:5px;border:1px solid #CCC;background:#F0F0F0;margin:0;white-space:pre-wrap;}
.codigo{padding:5px 5px 15px;}